<h4>List Of Users</h4>
<hr  class="my-4">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Family</th>
            <th scope="col">National Code</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Birth Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">            
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.family}}</td>
            <td>{{user.nationalCode}}</td>
            <td>{{user.phoneNumber}}</td>
            <td>{{user.birthDate}}</td>
          </tr>
        </tbody>
      </table>